.Mui-selected{
    font-size: 1.2em !important;
}
.styled-scrollbars {
    scrollbar-color: #999 #333;
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px;
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: rgb(240, 240, 240);
  border-radius: 3px;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: #202020;
  border-radius: 3px;
}
body{
  margin: 0px; 
  background-color: #111111;
}